.sobuj{
   width: 1000px;
   height: 500px;
   background: green;
   margin: 50px auto;
   position: relative;
}
.lal{
   width: 250px;
   height: 250px;
   background: red;
   border-radius: 50%;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
}
.lal img{
   width: 50%;
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
}
h1{
   display: inline-block;
   padding: 10px;
   font-size: 50px;
   text-shadow: 10px 10px 2px green;
}
p{
   background: red;
   font-size: 20px;
   font-family: arial;
   width: 500px;
   margin: auto;
   word-spacing: 5px;
   text-align: justify;
   padding: 20px;
}
  